@import "bootstrap";

body {
  background-color: #f5f5f2;
}

#navbar {
  position: fixed;
  width: 100%;
  top:0px;
  z-index: 9999;
}

.first-margin {
  margin-top: 70px;
}

.box {
  background-color: white;
  border: solid 1px #dddddd;
  padding: 15px 20px;
  margin-bottom: 30px;
}

#btn-right {
  float: right;
}

#head2 {
  font-family: "Open Sans Condensed", sans-serif;
  border-bottom: 1px solid #63bc50;
  margin-top: 0;
  padding-bottom: 10px;
}