<div class="box">
  <div id="head2">
    <span class="h2">Editar categoria</span> 
  </div>
  <%= form_for @category, html: { class: "mt-3" } do |f| %>
    <div class="form-group">
      <%= f.label "Unidad:" %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <%= f.submit "Editar", class: "btn btn-primary" %>
  <% end %>
</div>