<div class="box">
  <div id="head2">
    <span class="h2">Producto</span>
  </div>
  
  <p class="mt-3"><span class="h5">Nombre:</span>&nbsp &nbsp<%= @product.name %></p>
  <p><span class="h5">Descripción:</span>&nbsp &nbsp<%= @product.description %></p>
  <p><span class="h5">Valor:</span>&nbsp &nbsp<%= @product.cost %></p>
  <%= link_to 'Volver', products_path, class: "btn btn-primary" %>
</div>
