<h1>Producto</h1>
<p>
  <label>Nombre:</label>  
  <%= @product.name %>
</p>
<p>
  <label>Descripción:</label>
  <%= @product.description %>  
</p>
<p>
  <label>Valor:</label>
  <%= @product.cost %>  
</p>
<%= link_to 'Volver', products_path %>
